/* Navbar.css */
nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    width: 150px; /* Adjust the width of the logo as needed */
    height: auto; /* Maintain aspect ratio */
    border-radius: 20px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    margin-right: 100px; /* Add some space between navbar items */
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  a:hover {
    color: #ffd700;
  }
  